Jinja2==2.7.2
MarkupSafe==0.19
Pympler==0.3.1
RunSnakeRun==2.0.4
SquareMap==1.0.3
backports.ssl-match-hostname==3.4.0.2
guppy==0.1.10
ipython==2.0.0
line-profiler==1.0b3
memory-profiler==0.31
numba==0.13.0
numpy==1.8.1
pyzmq==14.1.1
tornado==3.2
wsgiref==0.1.2
